body{
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    background-color: rgb(36, 37, 54);
  }
  
  .child {
    scroll-snap-align: start;
    min-height: 90vh;
    min-width: 100vw;
    background-color: black;
    margin: 2px;
    display: flex;
  }

.bottomimgbar {
    margin-top: 88vh;
}

.bimgbardiv {
    margin: auto;
}
h1 {
    color: white;
}